.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: #c9c9c9;
}
.credsReg {
  height: 100px;
  display: flex;
  flex-direction: column;
}
.name {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
}
.nameInput {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  height: 50px;
}
.fNameInput {
  width: 300px;
  height: 45px;
  border: 1px solid gray;
}
.lNameInput {
  width: 300px;
  height: 45px;
  border: 1px solid gray;
}
.fName {
  position: relative;
  right: 95px;
}
.lName {
  position: relative;
  right: 95px;
}
.tEmail {
  position: relative;
  right: 110px;
}
.tUsername {
  position: relative;
  right: 85px;
}
.emailInput {
  width: 300px;
  height: 45px;
  border: 1px solid gray;
}
.usernameInput {
  width: 300px;
  height: 45px;
  border: 1px solid gray;
}
.tPassword {
  position: relative;
  right: 75px;
}
.tRepass {
  position: relative;
  right: 25px;
}
.passwordInput {
  width: 300px;
  height: 45px;
  border: 1px solid gray;
}
.repassInput {
  width: 300px;
  height: 45px;
  border: 1px solid gray;
}

.forgot {
  font-size: 20px;
  position: relative;
  top: 50px;
  left: 150px;
  text-decoration: none;
  cursor: pointer;
}
.regButtons {
  display: flex;
  justify-content: space-around;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 50px;
  height: 130px;
}
.registerBtn {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #78ed78;
  border: none;
  cursor: pointer;
}
.clearBtn {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #78ed78;
  border: none;
  cursor: pointer;
}
.headReg {
  display: flex;
  justify-content: center;
  align-content: center;
}
